:root {
  --game-width: 800px;
  --game-height: 500px;
}

body {
  border: 0;
  margin: 0;
  font-family: sans-serif;
  background: url('../assets/invasion_bg.png');
  /* background-size: 65%; */
  background-repeat: no-repeat;
  background-position: top -10px center;
}
header {
  padding: 0 20px;
  margin: 20px 0;
  max-width: 1200px;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;

}

#screen-bg,
#title-screen {
  background: url('../assets/space_bg.png');
  overflow: hidden;
}

#game-content {
  position: absolute;
  top: 130px;
  height: var(--game-height);
  width: var(--game-width);
  background: black;
  color: white;
}

.ui {
  position: absolute;
  top: 0;
}

#title-screen,
#game-over-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 4em;
}