* {
  border: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#screen-bg {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: black;
}

#ui {

  z-index: 1500;
  /* height: 50px; */
  border: 2px solid white;

}

#screen {

  border: 4px solid gray;
}

#text-screen {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 1000;
  width: 100%;
  height: 100%;
}


#game-content {
  /* position: absolute; */
  /* top: 180px; */
  width: 100%;
  height: 100%;

  background: black;
  color: white;
}

#title {
  font-size: 5em;
}

.controls {
  border: 1px solid white;
  margin: 40px 0 -40px;
}

.controls h3 {
  border-bottom: 1px solid white;
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
}

.controls ul {
  padding: 5px;
}

.controls li {
  margin: 5px 0;
  font-weight: 100;
}


#scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scores h3 {
  text-align: center;
  margin-bottom: 10px;
}

#finals {
  display: flex;
  justify-content: space-around;
}

#finals p {
  margin: 30px;
}

input {
  height: 1.6em;
  width: 100px;
  border-radius: 0px;
}

form div{
  display: flex;
}

#play-again-btn {
  height: 1.6rem;
}

.btn {
  border: 1px solid white;
  background-color: black;
  color: white;
  font-weight: bold;
}

#submit-score-btn:hover {
  border-left: 1px solid black;
}

.btn:hover {
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

#game-over-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  height: 80px;
}

.leaderboard,
.users {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-bottom: 40px;
}

.leaderboard p,
.users p {
  font-size: 0.8em;
  margin: 5px;
}

footer {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #333;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 0.8rem;
}

.credits {
  text-align: left;
  margin: 20px;
}

.credits p {
  font-weight: bold;
  text-decoration: underline;
}