:root {
  --game-width: 800px;
  --game-height: 500px;
}

body {
  border: 0;
  margin: 0;
  font-family: sans-serif;
}

.bg-container {
  background: url('../assets/invasion_bg.png');
  background-repeat: no-repeat;
  background-position: top -20px center;
  height: 120vh;
  display: flex;
  justify-content: center;
}

#screen-bg,
#title-screen {
  background: url('../assets/space_bg.png');
  overflow: hidden;
}

#game-content {
  position: absolute;
  top: 180px;
  height: var(--game-height);
  width: var(--game-width);
  background: black;
  color: white;
}

.ui {
  position: absolute;
  top: 0;
}

#title-screen,
#game-over-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 4em;
}

#scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.leaderboard p {
  font-size: 0.8em;
  margin: 5px;
}


#users {
}